<!DOCTYPE html>
<html>
{% load staticfiles %}
<script type="text/javascript" src="{% static 'js/jquery-1.12.1.js' %}"></script>
<script type="text/javascript" src="{% static 'js/mainapp-jquery.js' %}"></script>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/pure-min.css' %}">
    <title>SysReviewer {% block title %}{% endblock %}</title>
</head>
<body>
    <div class="cust-maxedcontainer cust-shadowbox">

        <div class="pure-menu pure-menu-horizontal cust-navmenu">
        <a href="{% url 'index' %}" class="pure-menu-heading">SysReviewer</a>
            <ul class="pure-menu-list">
                {% if user.is_authenticated %}
                    <li class="pure-menu-item"><a class="pure-menu-link" href="{% url 'profile' %}">Profile</a></li>
                    <li class="pure-menu-item"><a class="pure-menu-link" href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li class="pure-menu-item"><a class="pure-menu-link" href="{% url 'login_register' %}">Login/Register</a></li>
                {% endif %}
                <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                    <a href="#" id="menuLink1" class="pure-menu-link">Reviews</a>
                    <ul class="pure-menu-children">
                        <li class="pure-menu-item"><a class="pure-menu-link cust-blacktext" href="{% url 'reviews' %}">Your Reviews</a></li>
                        <li class="pure-menu-item"><a class="pure-menu-link cust-blacktext" href="{% url 'create_review' %}">Create Review</a></li>
                    </ul>
                </li>
                <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                    <a href="#" id="menuLink1" class="pure-menu-link">Queries</a>
                    <ul class="pure-menu-children">
                        <li class="pure-menu-item"><a class="pure-menu-link cust-blacktext" href="{% url 'queries' %}">View Your Queries</a></li>
                        <li class="pure-menu-item"><a class="pure-menu-link cust-blacktext" href="{% url 'create_query' %}">Create Query</a></li>
                        <li class="pure-menu-item"><a class="pure-menu-link cust-blacktext" href="{% url 'query_results' %}">Query Results</a></li>
                    </ul>
                </li>
                <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                    <a href="#" id="menuLink1" class="pure-menu-link">Pools</a>
                    <ul class="pure-menu-children">
                        <li class="pure-menu-item"><a class="pure-menu-link cust-blacktext" href="{% url 'abstract_pool' %}">Abstract Pool</a></li>
                        <li class="pure-menu-item"><a class="pure-menu-link cust-blacktext" href="{% url 'document_pool' %}">Document Pool</a></li>
                        <li class="pure-menu-item"><a class="pure-menu-link cust-blacktext" href="{% url 'final_pool' %}">Final Pool</a></li>
                    </ul>
                </li>

            </ul>
        </div>
    <div class="pure-g cust-maxedcontainer">
        <div class="pure-u-1-5 cust-sidebar">
            SideBar
        </div>
        <div class="pure-u-4-5 cust-maincontainer">
            {% block main_block %}

            {% endblock %}
        </div>
    </div>

    </div>
</body>
</html>