{% extends 'mainapp/base.html' %}

{% load staticfiles %}

{% block title %} Create Review {% endblock %}

{% block main_block %}

    <h1>Skeleton Create Review Page</h1>
    <form class="pure-form" id="review_form" method="post" action="/mainapp/create_review/">
        {% csrf_token %}
        <div class="pure-control-group">
            {{ review_form.as_p }}
        </div>
        <input class="pure-button pure-button-primary" type="submit" name="submit" value="+ Review" />
    </form>
{% endblock %}