{% extends 'mainapp/base.html' %}

{% load staticfiles %}

{% block title %} Query Editor {% endblock %}

{% block main_block %}
    <script type="text/javascript" src="{% static 'js/jquery.numberedtextarea.js' %}"></script>

    <h1>Create Query</h1>
    {% if submitted %}
            <div class="cust-aside">Query submitted</div>
            <br/>
    {% endif %}

<!--    <form class="pure-form pure-form-aligned" id="advanced_query" method="post" action="{% url 'create_query' review_name_slug %}">
        {% csrf_token %}
        <legend>Advanced Query: </legend>
        <textarea name="query_string" value="" rows="20" cols="100" autofocus ></textarea>
        <br/>
        <input class="pure-button pure-button-primary" type="submit" name="advanced" value="See Results" />
    </form>
    <br />-->
    <form class="pure-form pure-form-aligned" id="standard_query" method="post" action="{% url 'standard_query' review_name_slug %}">
        {% csrf_token %}
        <legend>Standard Query Builder</legend>
            <div class="pure-g">
                    <input id="standard_keywords" name="standard_input" class="pure-u-4-5" type="text" placeholder="Keywords">

                    <select id="standard_builder" name="standard_operand" class="pure-input-1-5">
                        <option>   </option>
                        <option value="AND">AND</option>
                        <option value="NOT">NOT</option>
                        <option value="OR">OR</option>
                    </select>
            </div>
        <br />
            <input class="pure-button pure-button-primary" type="submit" name="standard" value="See Results" />
    </form>
{% endblock %}