{% extends 'mainapp/base.html' %}

{% load staticfiles %}

{% block title %} Create Query {% endblock %}

{% block main_block %}
    <h1>Create Query</h1>

    {% if submitted %}
            <div class="cust-aside">Query submitted</div>
            <br/>
    {% endif %}

    <form class="pure-form" id="advanced_query" method="post" action="{% url 'create_query' review_name_slug %}">
        {% csrf_token %}
        <div class="pure-control-group">
            <label>Advanced Query: </label>
            <textarea name="query_string" value="" size="20" ></textarea>
        </div>
        <div class="pure-controls">
            <input class="pure-button pure-button-primary" type="submit" name="advanced" value="Submit" />
        </div>


        </form>

{% endblock %}