{% extends 'mainapp/base.html' %}

{% load staticfiles %}

{% block title %} Query Editor {% endblock %}

{% block main_block %}

    <h1>Create Query Part</h1>
    <div class="cust-button" id="switchToAdv">Advanced Query Editor</div>

    <div class="pure-form pure-form-aligned cust-remove-formatting" id="adv-form">
        <legend>Advanced Query:</legend>
        <textarea id="adv_textarea" name="query_string" value="" rows="20" cols="100" autofocus></textarea>
        <div>Keywords: AND, OR, NOT and TO must be capitalised</div>
        <br/>
        <div class="pure-g">
            <div class="pure-u-1-5">
                <div id="checkAPIadv" class="cust-button">Check Part Results</div>
            </div>
            <div class="pure-u-1-5 cust-centered">
                <div id="advresults" class="cust-notifier">Results: 0</div>
            </div>
            <div class="pure-u-1-5 cust-centered">
                <a id="advresults" class="cust-button" href="{% url 'syntax' %}" target="_blank">Advanced Editor Syntax</a>
            </div>
            <div class="pure u 1-5">
                <img id="ajaxloading" src="{% static 'css/rolling.gif' %}">
            </div>
        </div>
    </div>

    <div id="std-form" class="pure-form">
        <legend>Standard Query Builder:</legend>
        <div class="pure-g">
            <input id="standard_keywords" name="standard_input" class="pure-u-1-3" type="text"
                   placeholder="Enter keywords">
            <select id="standard_builder" name="standard_operator" class="pure-input-1-5">
                <option></option>
                <option value="AND">AND</option>
                <option value="NOT">NOT</option>
                <option value="OR">OR</option>
            </select>
        </div>
        <br/>
        <div class="pure-g">
            <div class="pure-u-1-5">
                <div id="checkAPIstd" class="cust-button">Check Part Results</div>
            </div>
            <div class="pure-u-1-5">
                <div id="stdresults" class="cust-notifier">Results: 0</div>
            </div>
            <div class="pure-u-1-5">
                <a href="{% url 'queries' review_name_slug %} " class="cust-button">View Query Parts</a>
            </div>
        </div>
        <br/>
        <img id="ajaxloading" src="{% static 'css/rolling.gif' %}">
    </div>
{% endblock %}