{% extends 'mainapp/base.html' %}

{% load staticfiles %}

{% block title %} Final Pool {% endblock %}

{% block main_block %}

    <h1>Final pool for your review, {{review_name}}.</h1>
    {% if papers %}
    Below are the documents you have added to the final pool. <br>
    Select any that you wish to remove.
    <br><br>
    <div class = "scrollit">
        <table class = "cust-pure-table cust-pure-table-striped cust-pure-table-bordered" id = "final_pool">
            <thead>
                <tr>
                    <th><input type="checkbox" id="selectAll" /></th>
                    <th>Title</th>
                    <th>Abstract</th>
                    <th>Author(s)</th>
                    <th>Link to Document</th>
                    <th>Publish Date</th>
                    <th>Notes</th>
                </tr>
            </thead>

            <tbody>
                {% for paper in papers %}
                    <tr id="paper{{paper.pk}}">
                        <td><input type="checkbox" class = "case"></td>
                        <td>{{paper.title}}</td>
                        <td><span class ="more">{{paper.abstract}}</span></td>
                        <td><span class ="more">{{paper.authors}}</span></td>
                        <td><div class = title>{{paper.title}}</div></td>
                        <td><span class ="more">{{paper.abstract}}</span></td>
                        <td><span class ="more">{{paper.authors}}</span></td>
                        <td>
                            {% if paper.paper_url %}
                                <a class="pure-button pure-button-primary" href="{{paper.paper_url}}">View Paper</a></td>
                            {% else %}
                                <p>No Paper Available</p>
                            {% endif %}
                        <td>{{paper.publish_date}}</td>
                        <td><div class = "notes"><textarea rows="8" cols="28" id="addNotes{{paper.pk}}">{{paper.notes}}</textarea></div></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

         <br><br>
         <div class = "container">
            <input class="pure-button cust-button-r" type="button" name="abstract" value="Mark as not relevant" id="removefromFP" >
         </div>
    {% else %}
        <h2> There are no documents in your final pool!</h2>
    {% endif %}


{% endblock %}