{% extends 'mainapp/base.html' %}

{% load staticfiles %}

{% block title %} Query {% endblock %}

{% block main_block %}

    <h1>Queries</h1>
    {% if queries %}
        <table class="cust-pure-table cust-pure-table-bordered cust-pure-table-scrollable">
            <tbody>
                <ol>
                    {% for query in queries %}
                            <tr id="query{{query.pk}}">
                                <td>{{ query.query_string }}</td>
                                <td><input type="button" class="pure-button pure-button-primary" id="editQuery{{query.pk}}" value="edit"/></td>
                                <td><input type="button" class="pure-button pure-button-primary" id="deleteQuery{{query.pk}}" value="delete"></td>
                            </tr>
                     {% endfor %}
                </ol>
            </tbody>
        </table>

    {% else %}
       <strong>No saved queries for {{review.name}}</strong>
       <br />
    {% endif %}
    <br />
    <a class="pure-button pure-button-primary" href="{% url 'create_query' review_name_slug %}">Create Query</a></li>
{% endblock %}