{% extends 'mainapp/base.html' %}

{% load staticfiles %}

{% block title %} Query {% endblock %}

{% block main_block %}

    <h1>Queries</h1>
    {% if queries %}
        <div class="scrollit">
            <table class="cust-pure-table cust-pure-table-bordered">
                <tbody>
                {% for query in queries %}
                    <tr id="query{{ query.pk }}">
                        <td>{{ query.query_string }}</td>
<!--                        <td>
                            <form method="post"
                                  action="{% url 'create_query' review_name_slug %}">{% csrf_token %}<input
                                    class="pure-button pure-button-primary" type="submit" name="editQuery{{ query.pk }}"
                                    value="Edit"/></form>
                        </td>-->
                        <td>{{query.pool_size}} Abstracts</td>
                        <td><input type="button" class="pure-button pure-button-primary" id="deleteQuery{{ query.pk }}"
                                   value="Delete"></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <a id="completequeries" class="cust-button-g">Finalize Queries</a>
        <input type="button" class="pure-button pure-button-primary" id="editQuery" value="Add Query Part">

    {% else %}
        <strong>No saved queries for {{review.name}}</strong>
        <br/>
        <br/>
        <a class="cust-button" href="{% url 'create_query' review_name_slug %}">Create Query</a>

    {% endif %}


{% endblock %}