{% extends 'mainapp/base.html' %}

{% load staticfiles %}

{% block title %} {{ review_name }} {% endblock %}

{% block main_block %}

    {% if working %}
        <h1>Review: {{ review_name }}</h1>
        <br/>
        <div class="cust-aside">
            This is your currently selected review
        </div>
        <br/>
        You can use the links at the top of the page or the buttons below to navigate to your pools and queries
        <br/>

    {% else %}
        <form class="pure-form" method="post">
        {% csrf_token %}
        <div class="pure-control-group">
            <label><h1>Review: {{ review_name }}</h1></label>
            <input type="submit" class="pure-button pure-button-primary" name='workon' value="Work on this review">
        </div>
    </form>
    {% endif %}
    <br/>
    <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
            <li class="pure-menu-item cust-button-container"><a class="pure-menu-link cust-menu-link" href="{% url 'create_query' review_name_slug %}">Create Query</a></li>
            <li class="pure-menu-item cust-button-container"><a class="pure-menu-link cust-menu-link" href="{% url 'queries' review_name_slug %}">Queries</a></li>
            <li class="pure-menu-item cust-button-container"><a class="pure-menu-link cust-menu-link" href="{% url 'abstract_pool' review_name_slug %}">Abstract Pool</a></li>
            <li class="pure-menu-item cust-button-container"><a class="pure-menu-link cust-menu-link" href="{% url 'document_pool' review_name_slug %}">Document Pool</a></li>
            <li class="pure-menu-item cust-button-container"><a class="pure-menu-link cust-menu-link" href="{% url 'final_pool' review_name_slug %}">Final Pool</a></li>
        </ul>
    </div>


{% endblock %}

<!--{% url 'review' review.slug %}-->