{% extends 'mainapp/base.html' %}

{% load staticfiles %}

{% block title %} Reviews {% endblock %}

{% block main_block %}

    <h1>Skeleton Reviews Page</h1>
    <br/>
    <div class="cust-well pure-u-4-5">
        <div class="pure-menu pure-menu-scrollable">
            <ul class="pure-menu-list">
                {% for review in review_list %}
                    <li class="pure-menu-item"><a class="pure-menu-link cust-blacktext" href="#">{{ review }}</a> </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}